mat-card {
  margin: 1em auto;
  max-width: 105em;
  min-width: 20em;
  text-align: initial;
}
mat-form-field input {
  min-width: 40em;
}

mat-form-field.fill-all {
  display: inline;
  width: 100%;
}

mat-list-option {
  display: inline;
}

mat-form-field button {
  float: right;
}

button[mat-flat-button] {
  margin: .5em;
}

.right {
  float: right;
}
