<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      <mat-form-field>
        <input matInput [(ngModel)]="todoItem.description">
      </mat-form-field>
    </mat-card-title>
    <mat-form-field>
      <input matInput
             placeholder="Due by"
             [errorStateMatcher]="errorMatcher"
             [matDatepicker]="picker"
             [(ngModel)]="todoItem.dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-title-group>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Added on {{todoItem.createdDate | date}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="fill-all">
          <textarea matInput [(ngModel)]="todoItem.moreDetails"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-selection-list #tasks>
      <mat-list-item
        checkboxPosition="before"
        *ngFor="let task of todoItem.tasks">
        <mat-form-field>
          <mat-checkbox [checked]="task.done" (change)="onTaskChange($event, task)">
            <input matInput [(ngModel)]="task.description">
          </mat-checkbox>
        </mat-form-field>
      </mat-list-item>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="{{isDone() ? 'accent' : 'primary'}}" (click)="onComplete()">{{isDone() ? 'Restart' : 'Complete'}}</button>
  </mat-card-actions>
</mat-card>
